
.dark-mode {
    background-color: rgba(0, 0, 0, 0.84);
    color: white;
}

.black {
    background-color: #626262;
}

.white {
    background-color: #FFF;
}

.col-125 {
    flex: 0 0 auto;
    width: 12.5%;
}